{% extends 'base.html.twig' %}

{% block title %}New Attachement{% endblock %}

{% block body %}
    <h1>Create new Attachement</h1>
    <a href="{{ path('app_attachement_index') }}">back to list</a>

    {{ include('attachement/_form.html.twig') }}

{% endblock %}
